body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color : aquamarine;
    font-size: 48px;
}
img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}